
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f1eb; 
    color: #9e7e4e;
    line-height: 1.6; 
}

header {
    background-color: #9e7e4e;
    padding: 1rem 0;
}

.Navigacija{
    text-align: center;
    margin-top: 20px;
}

.Navigacija ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Navigacija ul li {
    display: inline;
}

.Navigacija ul li a {
    color: #9e7e4e;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

.Navigacija ul li a:hover {
    color: #6b4226; /* Tamnija boja za hover efekat */
}
nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #f4f1eb;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffbf00; 
}


main {
    padding: 2rem 1rem;
}

.onama {
    text-align: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.onama h1 {
    font-size: 2.5rem; 
    color: #fff;
    margin-bottom: 2rem;
    background-color: #9e7e4e;
    padding: 15px;
    border-radius: 12px;
    text-transform: uppercase; 
    text-align: center;
}


.content-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    width: 90%; 
}

.grid-item {
    background-color: #fff;
    padding: 15px; 
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.grid-item h2 {
    font-size: 1.6rem; 
    color: #131212;
    margin-bottom: 1rem;
}

.grid-item p {
    font-size: 1rem; 
    color: #000000;
    margin-bottom: 1.5rem;
}

footer {
    background-color: #9e7e4e;;
    color: #f4f1eb;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 3rem;
}

footer p {
    font-size: 1.1rem;
}
